{% extends "base.html" %}
{% block body %}
<div id="body">
            <div id="slides">
                <div class="slide">
                    <div class="silde-content-ltr">
                        <div class="column-download-image">
                            <img style="height: 256px; width: 256px;" src="static/image/contact.png" alt="Contact" />
                        </div>
                        <div class="column-download-text">
                            <span class="header">Contact</span>
                            
                                <span class="simple-text">
                                    Feel free to ask me for any information via the email: <a class="framework" href="mailto:info@alienrp.com">info@alienrp.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
