{% extends "base.html" %}
{% block body %}
<div id="body">
    <div id="slides">
        <div class="slide">
            <div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/about.jpg" alt="About" />
                </div>
                <div class="column-text-ltr">
                    <span class="header">About</span>
                    <span class="simple-text">AlienRP is a completely free, NONOFFICIAL desktop application for music playback on the following stations:</span>
		<ul class="feature-list">
                        <li>DI.FM (Digitally Imported)</li>
                        <li>ROCKRADIO.COM</li>
                        <li>RadioTunes</li>
                        <li>ClassicalRadio.com</li>
                        <li>JAZZRADIO.com</li>
                    </ul>
                </div>
            </div>
        </div>

	<div class="slide slide-margin">
            <div class="silde-content-rtl">
                <div class="column-image">
                    <img src="static/image/stations.jpg" alt="Stations" />
                </div>
                <div class="column-text-rtl">
                    <span class="header">Features</span>
<span class="simple-text">Playback of any channel on the following stations:</span>
		<ul class="feature-list">
                        <li>DI.FM (Digitally Imported)</li>
                        <li>ROCKRADIO.COM</li>
                        <li>RadioTunes</li>
                        <li>ClassicalRadio.com</li>
                        <li>JAZZRADIO.com</li>
                    </ul>
                </div>
            </div>
        </div>

	<div class="slide">
            <div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/voting.jpg" alt="Voting" />
                </div>
                <div class="column-text-ltr">
			<ul class="feature-list">
                        <li>Adding to favorite channels and removing from favorite channels</li>
                        <li>Voting for favorite tracks</li>
                    </ul>
                </div>
            </div>
        </div>

	<div class="slide slide-margin">
            <div class="silde-content-rtl">
                <div class="column-image">
                    <img src="static/image/hotkey.jpg" alt="Hotkey" />
                </div>
                <div class="column-text-rtl">
                        <ul class="feature-list">
                        <li>Global hotkey support to control the player</li>
                    </ul>
                </div>
            </div>
        </div>

	<div class="slide">
            <div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/windows.png" alt="Windows" />
                </div>
                <div class="column-text-ltr">
		<ul class="feature-list">
                        <li>Windows 7 / 8 / 10 support (64-bit and 32-bit versions are available)</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
