{% extends "base.html" %}
{% block body %}
<div id="body">
            <div id="slides">
                <div class="slide">
                    <div class="privacy-silde-content-ltr">
                        <div class="privacy-column-image">
                            <img style="height: 256px; width: 256px;" src="static/image/policy.png" alt="Policy" />
                        </div>
                        <div class="privacy-column-text">
                            <span class="header">Privacy policy</span>
				<span class="header1">The AlienRP website</span>
                            <span style="margin-top: 20px;" class="simple-text">
				The website does NOT store your personal information. There are NO registration forms, Google Analytics, social buttons, cookies on the website. The AlienRP website was created only for presenting and downloading the AlienRP application and there is NO goal to store your personal data.
				</span>
                        </div>
                    </div>
                </div>

		<div class="slide">
                    <div class="privacy-silde-content-ltr">
                        <div class="privacy-column-image">
                        </div>
                        <div class="privacy-column-text">
				
				<span class="header1">The AlienRP application</span>
                            <span style="margin-top: 20px;" class="simple-text">
				The application stores your personal information such as your email address and password on your computer in encrypted form. During the run the application EXCHANGES the information (personal and technical) with the DI.FM (Digitally Imported), ROCKRADIO.COM, RadioTunes, ClassicalRadio.com or JAZZRADIO.com websites (please see the link to privacy policy of these websites below). The AlienRP application does NOT send any personal information to the AlienRP server.
				</span>

				<!--<span style="margin-top: 20px;" class="simple-text">
				[But it sends technical information such as a login event in format: "User #5 is logged in at 5 pm". Nothing else.]
				</span>-->
				
                        </div>
                    </div>
                </div>

		<div class="slide">
                    <div class="privacy-silde-content-ltr">
                        <div class="privacy-column-image">
                        </div>
                        <div class="privacy-column-text">
				
				<span class="header1">The AlienRP Lite application</span>
                            <span style="margin-top: 20px;" class="simple-text">
				The application does NOT store your personal information. During the run the application EXCHANGES the information (personal and technical) with the DI.FM (Digitally Imported) website (please see the link to privacy policy of DI.FM below). The AlienRP application does NOT send any personal information to the AlienRP server.
				</span>
                        </div>
                    </div>
                </div>

		<div class="slide">
                    <div class="privacy-silde-content-ltr">
                        <div class="privacy-column-image">
                        </div>
                        <div class="privacy-column-text">
				
				<span class="header1">External Privacy policy:</span>
                            <a class="framework" target="_blank" href="http://www.di.fm/member/privacy">DI.FM Privacy Policy</a>
				<a class="framework" target="_blank" href="https://www.rockradio.com/member/privacy">ROCKRADIO.COM Privacy Policy</a>
				<a class="framework" target="_blank" href="https://www.radiotunes.com/member/privacy">RadioTunes Privacy Policy</a>
				<a class="framework" target="_blank" href="https://www.classicalradio.com/member/privacy">ClassicalRadio.com Privacy Policy</a>
				<a class="framework" target="_blank" href="https://www.jazzradio.com/member/privacy">JAZZRADIO.com Privacy Policy</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
