{% extends "base.html" %}
{% block body %}
<div id="body">
            <div id="slides">
                <div class="slide">
                    <div class="silde-content-ltr">
                        <div class="column-download-image">
                            <img style="height: 256px; width: 256px;" src="static/image/git.png" alt="Git" />
                        </div>
                        <div class="column-download-text">
                            <span class="header">Source code</span>
				<span style="margin-top: 20px;" class="simple-text">Actual version - 2.0.1</span>
                            <div style="margin-top: 20px;" id="download-windows">
                                <span class="simple-text">
                                    Source code of AlienRP is available on GitHub
                                </span>
                                <div id="download-buttons">
                                    <a href="https://github.com/PavelSilukou/AlienRP" style="width: 200px;" class="button" target="_blank">Go to GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
