{% extends "base.html" %}
{% block body %}
<div id="body">
	<div id="slides">
		<div class="slide">
			<div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/html.png" alt="Html" />
                </div>
                <div class="column-text-ltr">
                    <span class="header">Введение в стандарты Web</span>
                    <span class="simple-text">Глава 1. Основные составляющие Web-сайта (или что должен знать Web-дизайнер, прежде чем начинать его проектирование)</span>
					<ul class="feature-list">
                        <li>Тема 1. Модель стандартов Web – HTML, CSS и JavaScript</li>
                        <li>Тема 2. Теория цвета</li>
                        <li>Тема 3. Создание каркаса сайта</li>
                        <li>Тема 4: Цветовые схемы и макеты дизайна</li>
                        <li>Тема 5: Полиграфия в дизайне</li>
                    </ul>
				</div>
			</div>
		</div>
		<div class="slide slide-margin">
			<div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/css.png" alt="CSS" />
                </div>
				<div class="column-text-ltr">
					<span class="simple-text">Глава 2. HTML</span>
					<ul class="feature-list">
                        <li>Тема 6: Основы HTML</li>
                        <li>Тема 7: Выбор правильного doctype для документов HTML</li>
                        <li>Тема 8: Разметка текстового контента в HTML</li>
                        <li>Тема 9: Формы в HTML</li>
                    </ul>
				</div>
			</div>
		</div>
		<div class="slide slide-margin">
			<div class="silde-content-ltr">
                <div class="column-image">
                    <img src="static/image/javascript.png" alt="JavaScript" />
                </div>
				<div class="column-text-ltr">
					<span class="simple-text">Глава 3. Валидация и тестирование доступности в HTML</span>
					<ul class="feature-list">
                        <li>Тема 10: Валидация HTML</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
